.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    background: #292929;
    color: #ffa31a;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #292929;
    color: #ffa31a;
}

.address {
    font-style: initial;
    font-size: 90%;
    margin: 0px;
    color: #ffa31a;
}

.bcgrnd {
    background: #1b1b1b;
    color: #808080; 
   
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #160f27;
}


.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}


.carousel {
    background: #160f27;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px;
}  


#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
